<?xml version="1.0"?>
<!--
/**
 * @author Avarda Team
 * @copyright Copyright © Avarda. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Avarda\ShippingBroker\Model\Provider\Pool">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="nshift" xsi:type="object">Avarda\ShippingBrokerNshift\Model\Provider\Nshift</item>
            </argument>
        </arguments>
    </type>
    <type name="Avarda\ShippingBrokerNshift\Model\Provider\Nshift">
        <arguments>
            <argument name="responseParser" xsi:type="object">Avarda\ShippingBrokerNshift\Gateway\Response\GetShippingRateStatusParser</argument>
            <argument name="customAttributesPool" xsi:type="array">
                <item name="freeshipping" xsi:type="object">Avarda\ShippingBrokerNshift\Gateway\Request\CustomAttribute\Nshift\FreeshippingBuilder</item>
                <item name="discount" xsi:type="object">Avarda\ShippingBrokerNshift\Gateway\Request\CustomAttribute\Nshift\DiscountBuilder</item>
                <item name="weight" xsi:type="object">Avarda\ShippingBrokerNshift\Gateway\Request\CustomAttribute\Nshift\WeightBuilder</item>
            </argument>
        </arguments>
    </type>
</config>
